Trabalho IA - Poupador/.settings/org.eclipse.jdt.core.prefs
Trabalho IA - Poupador/.idea/.gitignore
Trabalho IA - Poupador/.idea/misc.xml
Trabalho IA - Poupador/.idea/modules.xml
Trabalho IA - Poupador/.classpath
Trabalho IA - Poupador/.project
Trabalho IA - Poupador/Trabalho IA - Poupador.iml
Trabalho IA - Poupador/.idea/workspace.xml
out/*
.idea/*
Projetos-IA.iml
