Trabalho IA - Poupador/.settings/org.eclipse.jdt.core.prefs
Trabalho IA - Poupador/.idea/.gitignore
Trabalho IA - Poupador/.idea/misc.xml
Trabalho IA - Poupador/.idea/modules.xml
Trabalho IA - Poupador/.classpath
Trabalho IA - Poupador/.project
Trabalho IA - Poupador/Trabalho IA - Poupador.iml
Trabalho IA - Poupador/.idea/workspace.xml
out/*
.idea/*
Projetos-IA.iml
jogo da velha/min_max.py
jogo da velha/__pycache__/min_max.cpython-38.pyc
jogo da velha/__pycache__/min_max.cpython-38.pyc
jogo da velha/__pycache__/min_max.cpython-38.pyc
jogo da velha/start.bat
jogo da velha.zip
jogo da velha/photo5130151475601844494.png
jogo da velha/t.txt
